# put your aptos config file path here e.g. /home/user/.aptos/config.yaml or leave uncommented if default workspace...
APTOS_NETWORK=local
ARTIFACTS_LEVEL=all
MOVE_VERSION=2.2
COMPILER_VERSION=2.0
DEFAULT_FUND_AMOUNT=40000000
CHAINLINK_DATA_FEEDS ?= 0x100
CHAINLINK_PLATFORM ?= 0x200

# aave profiles private keys
AAVE_ACL_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_CONFIG_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_MATH_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_ORACLE_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_POOL_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_MOCK_UNDERLYING_TOKENS_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_LARGE_PACKAGES_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_DATA_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
# aave Chainlink profiles private keys
AAVE_DATA_FEEDS_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
AAVE_PLATFORM_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
# default funder private key
DEFAULT_FUNDER_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]

# test profiles private keys
TEST_ACCOUNT_0_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
TEST_ACCOUNT_1_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
TEST_ACCOUNT_2_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
TEST_ACCOUNT_3_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
TEST_ACCOUNT_4_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
TEST_ACCOUNT_5_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]

# gho profiles private keys
GHO_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
GHO_CONFIG_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
GHO_ACL_PRIVATE_KEY=[YOUR PROFILE ACCOUNT PRIVATE KEY]
